#överst{
    border: 10px solid black; 
    min-width: 100%;
    min-height: 20%;
    min-height: 100px;
    background-color: #B610EF;
    }
body{
background-color: pink;
}
#opgg{
color: black;
}
